@media screen and (max-width:815px) {

    .header {
        .header-logo {
            flex: 1;
        }

        .container {}

        .header-menu {
            display: none;
        }

        .header-icon {}

        .lang {
            display: none;
        }
        
        .header-mobile-switch{
            display: flex;
        }

    }
    #header-mobile-switch-box {
        &:checked {
            ~.header-mobile-switch {
                display: flex;
                width: 30px;
                flex-direction: column;
                gap: 5px;
                margin-right: 15px;

                >span {
                    width: 100%;
                    height: 4px;
                    background: rgb(14, 14, 14);

                    &:first-child {
                        
                        transform: rotate(45deg);
                        top: 5px;
                    }

                    &:nth-child(2) {
                        display: none;
                        transition: none;
                    }

                    &:last-child {
                       
                        transform: rotate(-45deg);
                        top: -5px;
                    }
                }
            }
        }
    }

}